.warn {
  color: red;
  font-weight: bold;
}

.character {
  background-color: grey;
  color: white;
  padding: 10px;
  margin-left: 5px;
  border: 1px;
  border-color: black;
}

.division {
  background-color: grey;
  color: white;
  border-color: black;
  width: 475px;
  
}

.template {
  display: block;
  margin: 0 auto;
}
.loadout {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.bio {
  background-color: grey;
  color: white;
  padding: 25px;
  width: 300px;
  border-color: black;
  font-size: 1em;
}


body {
  background-color: navy;
  margin:0px;
}

.top {
  margin: 0px;
  background-color: lightgrey;

}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1 {
  margin:0;
}

.info {
  flex: 0 1 auto;
  display: flex;

}

.buttons {
  width: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
  width: 75px;
  height: 50px;
  margin: 5px;
  margin-right: 10px;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkgrey;
}

.secret{
  width: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.SecretButton {
  width: 75px;
  height: 50px;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  
  /* Start invisible */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show when hovering anywhere on page */
.SecretButton:hover {
  background-color: red;
  opacity: 1;
}


.character-hidden {
  display: none;
}

.character-visible {
  display: block;
}