
.character {
  background-color: grey;
  color: white;
  padding: 1px;
}

.division {
  background-color: grey;
  color: white;
  padding: 1px;
}

body { 
  background-color: navy;
  margin:0px;
}

.top {
  margin: 0px;
  background-color: lightgrey;

}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1 {
  margin:0;
}

.info {
  flex: 0 1 auto;
  display: flex;

}

.buttons {
  width: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}